@"
POSTGRES_DB=food_orders
POSTGRES_USER=fooduser
POSTGRES_PASSWORD=foodpassword

DB_HOST=db
DB_PORT=5432
DB_NAME=food_orders
DB_USER=fooduser
DB_PASSWORD=foodpassword

APP_PORT=3000
"@ | Set-Content .env.example